# get path do ... end
snippet get
	get ${1:path} do
		${2:# ...}
	end
# post path do ... end
snippet pos
	post ${1:path} do
		${2:# ...}
	end
# put path do ... end
snippet put
	put ${1:path} do
		${2:# ...}
	end
# delete path do ... end
snippet del
	delete ${1:path} do
		${2:# ...}
	end
# helpers inclass
snippet helc
	helpers ${1:inclass}
# helpers do def helper end ... end
snippet held
	helpers do
		${1:helper}
	end
# configure do ... end
snippet conf
	configure do
		${1:config}
	end
