"*":
  "exception-reporting":
    userId: "bc22495e-6e26-cc83-d097-23257149ad09"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
    projectHome: "~/Projects/"
  "vim-mode":
    useSmartcaseForSearch: true
  editor:
    invisibles: {}
    softWrap: true
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    fontSize: 11
  linter: {}
  "cargo-test-runner": {}
